.app {
    display: flex;
    padding-top: 80px;
    margin-left: 250px;
  }
  
  .sidebar {
    position: fixed; /* Makes the sidebar fixed */
    left: 0; /* Positions it to the left */
    top: 80px; /* Adjust top position to avoid overlap with the header*/
    width: 250px; /* Set the width of the sidebar */
    height: 100vh; /* Make it occupy full viewport height */
    overflow-y: auto; /* Enable vertical scrolling within the sidebar if content overflows */
    background-color: #f7f7f7; /* Choose your background color */
    padding: 20px; /* Add some padding for spacing */
    border-right: 1px solid #ccc; /* Optional: Add a right border */
  }
  
  .job-list {
    flex: 1;
    padding: 20px;
  }
  
  .job-card {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .input-box, .upload-box {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f7f7f7; /* Choose your desired background color */
    padding: 20px; /* Add padding for spacing */
    z-index: 100; /* Make sure it appears on top */
    border-bottom: 1px solid #000000; /* Optional: Add a border */
  }
  /* For headings (h1, h2, etc.) */
h1, h2 {
  font-family: 'Google Sans', sans-serif;
  font-weight: 700; /* Bold */
}

/* For body text and other elements */
body, p, input, button {
  font-family: 'Google Sans', sans-serif;
  font-weight: 400; /* Regular (or 500 for Medium) */
}

/*For other elements or classes*/
.class-name
{
 font-family: 'Google Sans', sans-serif;
  font-weight: 400; /* Regular (or 500 for Medium) */
}
  