
  .job-list {
    display: flex;
    width: calc(100% - 105px);
    height: 96px;
    padding-left: 100px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    align-self: stretch;
  }
  /**/

  
  