
  .job-list {
    display: flex;
    width: 95%;
    height: 96px;
    padding-left: 43px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    align-self: stretch;
  }

  
  