.sidebar h1, 
.sidebar h2, 
.sidebar .upload-box, 
.sidebar .input-box, .slider-container {
  width: 98%;
  text-align: center;
}

h2 {
  text-align: center;
}
.upload-box input[type="file"] { 
  display: none; /* Hide the default button */
}
.upload-box .filename {
  margin-left: 10px; /* Add some spacing */
  font-style: italic; /* Style the filename text */
}

.upload-box label {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #ffffff; /* Change background color to black */
  color: rgb(0, 0, 0); 
  border: 1px solid #000;
  border-radius: 9999px; /* Increase border-radius for more rounded corners */
  cursor: pointer; 
}
.upload-box label:hover {
  background-color: #000000; /* Darker shade of black on hover */
  color: #ffffff; /* White text color on hover */
}


.sidebar h1 {
    font-size: 24px;
    background-color: #f1f1f1;
  }
  
  .sidebar h2 {
    font-size: 24px;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  
  .upload-box button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
  }
  
  .input-box {
    background-color: #ffffff;
  }
  
  .sidebar {
    /* ... other styles ... */
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Remove any existing margins */
    padding: 20px;
    overflow-x: hidden; 
  }
 
  .upload-box, .input-box {
    display: flex;
    width: 349px;
    height: 60px;
    padding: 1px 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #9AA0A6;
    margin-bottom: 15px;
  }

  .slider-container {
    display: flex;
    width: 316px;
    height: 82px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #9AA0A6;
    margin-bottom: 30px;
    flex-direction: column; /* Stack elements vertically */
  }

  .submit-button, .resume-upload {
    border-radius: 9999px;
    background: #000;
    width: 156.46px;
    height: 44px; 
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
  }

  