.sidebar h1, 
.sidebar h2, 
.sidebar .upload-box, 
.sidebar .input-box {
  width: 98%;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0px !important;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
  }
  
  .sidebar h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .upload-box button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .input-box {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .sidebar {
    /* ... other styles ... */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0; /* Remove any existing margins */
    padding: 20px;
    overflow-x: hidden; 
  }
 
  