.line2.line2 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.line22.line22 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.line23.line23 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.line24.line24 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.line25.line25 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.line26.line26 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.line27.line27 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.line28.line28 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.line29.line29 {
  position: absolute;
  width: 95.0152px;
  height: 0;
}
.root {
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: #444;
}
.frame {
  position: relative;
  height: 779px;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff, #fff;
}
.frame14 {
  position: absolute;
  left: 417px;
  top: 70px;
  width: 821px;
  height: 973px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
}
.leftPane {
  position: absolute;
  left: 0;
  top: calc(50% - -35px);
  width: 401px;
  height: 709px;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  transform: translateY(-50%);
}
.container {
  position: relative;
  height: 709px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 19px 26px;
  overflow: auto;
  box-shadow: inset -1px 0px 0px #000;
}
.uploadYourResume {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 76.5px;
  top: 19px;
  width: 248px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.border {
  position: absolute;
  left: 26px;
  top: 67px;
  width: 349px;
  height: 84px;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #9aa0a6;
  outline-offset: -1px;
  border-radius: 24px;
}
.container2 {
  z-index: 0;
  position: absolute;
  left: 0.2865%;
  right: 0.2865%;
  top: 1px;
  height: 83px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.button {
  position: absolute;
  right: 95px;
  bottom: 5px;
  width: 156px;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 9999px;
  background-color: #9aa0a6;
}
.send_sparkSvg {
  position: absolute;
  left: calc(50% - 33.7px);
  top: calc(50% - 1px);
  width: 26px;
  height: 27px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.send_sparkSvgFill {
  position: absolute;
  left: 1px;
  top: 4px;
  width: 22px;
  height: 20px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.uploadFileSvgrepoCom1 {
  position: absolute;
  left: 0;
  right: 13.6364%;
  top: 5%;
  bottom: 0;
}
.icon {
  width: 100%;
  height: 100%;
}
.browse {
  color: #fff;
  font-size: 18.5938px;
  line-height: 28px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -12.33px);
  top: 9.5px;
  width: 84.66px;
  height: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.dropYourFilesHereOr {
  color: #9aa0a6;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.5px);
  top: calc(50% - 25.5px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.preferredJob {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 120px;
  top: 171px;
  width: 161px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.border2 {
  position: absolute;
  left: 26px;
  top: 219px;
  width: 349px;
  height: 84px;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #9aa0a6;
  outline-offset: -1px;
  border-radius: 24px;
}
.container3 {
  z-index: 0;
  position: absolute;
  left: 6.3037%;
  right: 6.3037%;
  top: 1px;
  height: 82px;
  flex-direction: column;
  overflow: hidden;
}
.internSoftwareEngineerDataScie {
  color: #9aa0a6;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 305px;
  height: 82px;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.preferredLocation {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 88.5px;
  top: 323px;
  width: 224px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.border3 {
  position: absolute;
  left: 26px;
  top: 371px;
  width: 349px;
  height: 84px;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #9aa0a6;
  outline-offset: -1px;
  border-radius: 24px;
}
.container4 {
  z-index: 0;
  position: absolute;
  left: 6.3037%;
  right: 6.3037%;
  top: 1px;
  height: 82px;
  flex-direction: column;
  overflow: hidden;
}
.bangaloreIndiaAmsterdamNetherl {
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 305px;
  height: 82px;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.textBlock {
  color: #9aa0a6;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #9aa0a6;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle {
  position: absolute;
  left: 26.17px;
  top: 475px;
  width: 348.66px;
  height: 12px;
}
.searchDomain {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 111px;
  top: 487px;
  width: 179px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.frame2 {
  position: absolute;
  left: 26px;
  top: 535px;
  width: 349px;
  height: 84px;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #9aa0a6;
  outline-offset: -1px;
  border-radius: 24px;
  background-color: #f8fbfd;
}
._1 {
  color: #80868b;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 9px;
  top: 32px;
  width: 9.33px;
  height: 20px;
  justify-content: center;
  flex-direction: column;
}
.input {
  z-index: 0;
  position: absolute;
  left: 23px;
  right: 44px;
  top: 50%;
  height: 2px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 9999px;
  background-color: #80868b;
  transform: translateY(-50%);
}
.background {
  position: absolute;
  left: 3.08px;
  top: -6.5px;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #4b5563;
}
._3000 {
  color: #80868b;
  font-size: 13px;
  line-height: 32px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  right: -21px;
  top: 50%;
  width: 62px;
  height: 32px;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.button2 {
  position: absolute;
  left: 123px;
  top: 639px;
  width: 156.46px;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 9999px;
  background-color: #000;
}
.send_sparkSvg2 {
  position: absolute;
  left: calc(50% - 33.93px);
  top: calc(50% - 1px);
  width: 26px;
  height: 27px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.send_sparkSvgFill2 {
  position: absolute;
  left: 1px;
  top: 4px;
  width: 22px;
  height: 20px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.uploadFileSvgrepoCom12 {
  position: absolute;
  left: 0;
  right: 13.6364%;
  top: 5%;
  bottom: 0;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.submit {
  color: #fff;
  font-size: 18.5938px;
  line-height: 28px;
  font-weight: bold;
  font-family: Google Sans Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -12.1px);
  top: 9.5px;
  width: 84.66px;
  height: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.header {
  transform-origin: top left;
  position: absolute;
  left: 0;
  top: 0;
  width: 2861px;
  height: 70px;
  flex-direction: column;
  align-items: center;
  padding: 19px 31px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #000;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.okComputer {
  color: #000;
  font-size: 48px;
  line-height: 32px;
  font-family: Microfont, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.6px;
  position: absolute;
  left: 31px;
  top: 19px;
  width: 287px;
  height: 32px;
  justify-content: center;
  flex-direction: column;
}
